@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    background-color: #ddd;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    background-color: white;
    border-radius: 5px;
    width: min(95%, 70rem);
    margin: 2rem auto;
    padding: 2rem;
}

.main-container{
    display: grid;
    gap: 1.5rem;
}

button{
    border-radius: 5px;
    background-color: rgb(45, 130, 220);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(33, 92, 154);
}

@media(min-width: 50em){
    .main-container{
        grid-template-columns: repeat(3,1fr);
    }
}

